@font-face {
  font-family: pixelOperator;
  src: url(fonts/PixelOperator.ttf);
}
@font-face {
	font-family: pixelOperator-Bold;
	src: url(fonts/PixelOperator-Bold.ttf);
}
body{
	font-size: 25px;
	font-family:pixelOperator;
	background-color: #000000;
	color: #FFFFFF;
}
p{
	width:700px;
	line-height: 25px;
}
a:visited{
	color:#FFFFFF;
}
a:hover{
	color:#66ff38;
}
a{
	color:#FFFFFF;
/*	text-decoration: none; */
}
table{
	margin:0 auto;
}
button{
	font-family: pixelOperator;
  	text-align: center;
	background-color: #000000; /* Green */
 	border: none;
  	color: #FFFFFF;
  	height: 50px;
  	width: 75px;
  	text-decoration: none;
  	display: block;
  	font-size: 30px;
 	border:1px solid #FFFFFF;
}
td{
	padding: 10px;
}
button:hover{
	background-color:#bdbdbd;
}
#counter{
	margin:0 auto;
	text-align: center;
	font-family:pixelOperator-Bold;
	width: 200px;
	height:50px;
	margin-top: 20px;
	border:2px solid #FFFFFF;
	color:#66ff38;
}
h1{
	font-family: pixelOperator-Bold;
}
#passwordScreen{
	margin-top: 30px;
	width:300px;
	border: 3px solid #FFFFFF;
}

